@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Outfit&family=Red+Hat+Display:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Outfit&family=Red+Hat+Display:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Outfit&family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --bg-color: #d6e1ff;
  --bg-color-1: #f8f9fe;
  --white: #fff;
  --color: #382ae1;
  --font-color: #3d4871;
  --font-color-1: #abadbc;
  --radius: 12px;
}

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Open Sans", sans-serif;
  font-family: "Outfit", sans-serif;
  font-family: "Red Hat Display", sans-serif;
}
