:root {
  --primary-100: #7254f9;
  --primary-200: #4b24cd;

  /* ---200: #342eea;
  --primary-100: #4734f0; */

  --primary-bg: linear-gradient(
    to bottom,
    var(--primary-100),
    var(--primary-200)
  );

  --primary-bg-reverse: linear-gradient(
    to bottom,
    var(--primary-200),
    var(--primary-100)
  );

  --font-color-100: #fbffff;
  --font-color-200: #ae9ffa;
  --font-color-300: #877efe;
  --border-radius: 30px;

  --accent-bg-100: #fbffff;
  --accent-bg-200: #ae9ffa;
  --accent-bg-300: #877efe;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  box-shadow: 5px 10px 30px #d3d3d3;
}

.result_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 0 0 30px 30px;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 2rem 5rem;
  background: var(--primary-bg);
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  height: 10rem;
  width: 10rem;
  background: var(--primary-bg-reverse);
}

.result_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.summary_container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

.summary_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.summary_title {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 12px;
}

button {
  border-radius: 30px;
  border: none;
  padding: 1.5rem;
  font-size: large;
  background-color: #303b59;
  color: #fbffff;
}

.font-2xl {
  font-size: 3rem;
}

.font-xl {
  font-size: x-large;
}

.font-lg {
  font-size: large;
}

.color-primary {
  color: #fbffff;
}

.color-primary-100 {
  color: #ae9ffa;
}

.color-primary-200 {
  color: #877efe;
}

.bg-1 {
  color: #e27e85;
  background-color: #fff6f5;
}

.bg-2 {
  color: #e5ba5d;
  background-color: #fffbf2;
}

.bg-3 {
  color: #72c4b0;
  background-color: #f2fafa;
}

.bg-4 {
  color: #3743a9;
  background-color: #f3f3fd;
}

.font_bold {
  font-weight: 900;
  color: #303b59;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    max-width: 50rem;
    max-height: 30rem;
  }

  .result_container {
    width: 50%;
  }

  .summary_container {
    width: 50%;
  }

  .result_container {
    border-radius: 30px;
  }
}
