@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Outfit&family=Overpass:wght@400;700&family=Red+Hat+Display:wght@500;700;900&family=Roboto:wght@500&display=swap");
:root {
  --radius: 12px;
  --color-1: #1d1d1f;
  --weight-lg: 700;
  --weight-md: 500;
  --weight-sm: 200;
  --font-lg: 1.6rem;
}

*,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Outfit", sans-serif;
  font-family: "Overpass", sans-serif;
  font-family: "Red Hat Display", sans-serif;
  font-family: "Roboto", sans-serif;
}
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color_1 {
  color: var(--color-1);
}

.font_lg {
  font-size: var(--font-lg);
}

.weight_lg {
  font-weight: var(--weight-lg);
}

.weight_md {
  font-weight: var(--weight-md);
}

.weight_sm {
  font-weight: var(--weight-sm);
}

button {
  font-weight: var(--weight-lg);
  padding: 1rem;
  border: none;
  color: white;
  background-color: #1d1d1f;
  border-radius: 8px;
}
